* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f1f3f6;
}

/* HEADER */
.header {
    background: #2874f0;
    padding: 12px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.header input {
    width: 45%;
    padding: 8px;
    border-radius: 2px;
    border: none;
}

.menu {
    margin-left: auto;
    color: white;
}

.menu button {
    background: white;
    color: #2874f0;
    border: none;
    padding: 6px 12px;
    margin-right: 10px;
    cursor: pointer;
}

/* CATEGORIES */
.categories {
    display: flex;
    justify-content: space-around;
    background: white;
    padding: 15px;
    font-weight: bold;
}

/* BANNER */
.banner img {
    width: 100%;
    margin-top: 10px;
}

/* PRODUCTS */
.products {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.product {
    background: white;
    padding: 15px;
    width: 200px;
    text-align: center;
}

.product img {
    width: 100%;
}

.product button {
    background: #2874f0;
    color: white;
    border: none;
    padding: 8px;
    width: 100%;
    cursor: pointer;
}
